---
layout: default
---

<div class="section">
	<div class="container" style="margin-top: 20px">

		<div class="row">
			<div class="col-12 col-lg-9 offset-lg-1 ">

        <h3>About our team<span style="color: #A22A2A">.</span></h3>

        <div class="margin-top-10">
          <p class="font-family-secondary text-dark">We are a team of young researchers using <a style="color: #A22A2A" href="https://en.wikipedia.org/wiki/Data_science" target="_blank">Data Science<a/> tools to aid biodiversity conservation and management, in support of the <a style="color: #A22A2A" href="https://www.un.org/sustainabledevelopment/development-agenda/" target="_blank">UN 2030 Agenda</a> for Sustainable Development. We believe our work is crucial for ensuring a sustainable future for both human society and the natural world.</p>

        </div>

			</div>
		</div>

		<div class="row" style="margin-top: 40px">
  			<div class="col-12 col-lg-10 offset-lg-1">
  					<div class="margin-bottom-20 margin-left-30 margin-right-30 margin-top-50">
  							<ul class="list-inline-dash font-family-secondary">
  								<i class="fas fa-angle-double-right"></i> <li>Team members</li>
  							</ul>
  					</div>
          </div>
        </div>

        <div class="row margin-bottom-50 margin-left-5 margin-right-5">
          <div class="col-12 col-lg-10 offset-lg-1 border-radius-05 bg-gray" style="padding-top: 10px; padding-bottom: 15px;">

                <div class="row  col-spacing-10 margin-top-10">

                    <div class="col-12 col-md-3 text-center">
                      <div>
                      <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/jorgeassis.jpg" alt="">
                      </div>
                      <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                        Dr. Jorge Assis
                        <br>
                        Group leader
                      </div>
                      </div>

                      <div class="col-12 col-md-3 text-center">
                        <div>
                        <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/lidianegouvea.jpg" alt="">
                        </div>
                        <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                          Dr. Lidiane Gouvea
                          <br>
                          Assistant researcher
                        </div>
                      </div>

											<div class="col-12 col-md-3 text-center">
                        <div>
                        <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/terencelegrand.jpg" alt="">
                        </div>
                        <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                          Dr. Térence Legrand
                          <br>
                          Assistant researcher
                        </div>
                      </div>

                      <div class="col-12 col-md-3 text-center">
                        <div>
                        <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/eliza.jpeg" alt="">
                        </div>
                        <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                          Eliza Fragkopoulou
                          <br>
                          Assistant researcher
                        </div>
                      </div>

                        <div class="col-12 col-md-3 text-center">
                        <div>
                        <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/anacampoy.jpg" alt="">
                        </div>
                        <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                          Ana Campoy
                          <br>
                          Assistant researcher
                        </div>
                      </div>

											<div class="col-12 col-md-3 text-center">
											<div>
											<img class="avatar-lg" src="{{ site.baseurl }}/assets/images/juan.jpeg" alt="">
											</div>
											<div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
												Juan González-Trujillo
												<br>
												Assistant researcher
											</div>
										</div> 





                     <div class="col-12 col-md-3 text-center">
	                      <div>
	                      <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/laurenvapillon.png" alt="">
                        </div>
                        <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                          Lauren Vapillon
                          <br>
                          PhD student
                        </div>
                      </div>

                     <div class="col-12 col-md-3 text-center">
	                      <div>
	                      <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/amymackintosh.png" alt="">
                        </div>
                        <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                          Amy Mackintosh
                          <br>
                          PhD student
                        </div>
                      </div>

											<div class="col-12 col-md-3 text-center">
	                      <div>
	                      <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/griffinhill.png" alt="">
                        </div>
                        <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                          Griffin Hill
                          <br>
                          PhD student
                        </div>
                      </div>


											<div class="col-12 col-md-3 text-center">
	                      <div>
	                      <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/pelayomenendezalvarez.png" alt="">
                        </div>
                        <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                          Pelayo Alvarez
                          <br>
                          PhD student
                        </div>
                      </div>

	                    <div class="col-12 col-md-3 text-center">
	                      <div>
	                      <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/zhiyuanshi.jpg" alt="">
	                      </div>
	                      <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
	                        Zhiyuan Shi
	                        <br>
	                        PhD student
	                      </div>
	                      </div>

                      <div class="col-12 col-md-3 text-center">
                        <div>
                        </div>
                        <div class="margin-top-5 font-family-secondary font-small text-dark">
                          <br>
                        </div>
                        <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                        </div>
                      </div>

                </div>
              </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1">
              <div class="margin-bottom-10 margin-left-30 margin-right-30">
                  <ul class="list-inline-dash font-family-secondary">
                    <i class="fas fa-angle-double-right"></i> <li>Scientific advisory committee</li>
                  </ul>
              </div>
            </div>
          </div>

          <div class="row margin-bottom-50 margin-left-5 margin-right-5">
            <div class="col-12 col-lg-10 offset-lg-1 border-radius-05 bg-gray" style="padding-top: 10px; padding-bottom: 15px;">

                  <div class="row  col-spacing-10 margin-top-10">

                      <div class="col-12 col-md-3 text-center">
                        <div>
                        <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/esterserao.png" alt="">
                        </div>
                        <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                          Prof. Ester A. Serrão
                          <br>
                          Biodiversity
                        </div>
                        </div>

                        <div class="col-12 col-md-3 text-center">
                          <div>
                          <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/markcostelo.png" alt="">
                          </div>
                          <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                            Prof. Mark John Costello
                            <br>
                            Conservation
                          </div>
                        </div>

                        <div class="col-12 col-md-3 text-center">
                          <div>
                          <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/carlosduarte.jpg" alt="">
                          </div>
                          <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                            Prof. Carlos Duarte
                            <br>
                            Ecosystems
                          </div>
                        </div>

                        <div class="col-12 col-md-3 text-center">
                          <div>
                          <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/miguelaraujo.jpg" alt="">
                          </div>
                          <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                            Dr. Miguel Araújo
                            <br>
                            Modelling
                          </div>
                        </div>

                  </div>
                </div>
          </div>

    		<div class="row margin-top-50">
    			<div class="col-12 col-lg-10 offset-lg-1">
    					<div class="margin-bottom-20 margin-left-30 margin-right-30">
    							<ul class="list-inline-dash font-family-secondary">
    								<i class="fas fa-angle-double-right"></i> <li>Students</li>
    							</ul>
    					</div>
            </div>
        </div>

        <div class="row margin-left-5 margin-right-5">
          <div class="col-12 col-lg-10 offset-lg-1 border-radius-05 bg-gray" style="padding-top: 10px; padding-bottom: 10px;">

                <div class="row col-spacing-10 margin-top-10">

												<div class="col-12 col-md-3 text-center">
		                      <div>
		                      <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/ariadnivafeiadou.jpg" alt="">
	                        </div>
	                        <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
	                          Ariadni Vafeiadou
	                          <br>
	                          MSc student
	                        </div>
	                      </div>

											<div class="col-12 col-md-3 text-center">
	                      <div>
	                      <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/nuriasuarez.jpeg" alt="">
                        </div>
                        <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                          Núria Suárez
                          <br>
                          MSc student
                        </div>
                      </div>

											<div class="col-12 col-md-3 text-center">
	                      <div>
	                      <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/laramartins.jpg" alt="">
                        </div>
                        <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                          Lara Martins
                          <br>
                          MSc student
                        </div>
                      </div>

											<div class="col-12 col-md-3 text-center">
	                      <div>
	                      <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/viktoriabalogh.jpg" alt="">
                        </div>
                        <div class="margin-top-5 margin-bottom-5 font-family-secondary font-small text-dark">
                          Viktória Balogh
                          <br>
                          MSc student
                        </div>
                      </div>

                </div>
              </div>
        </div>

        		<div class="row" style="margin-top: 60px">
			<div class="col-12 col-lg-9 offset-lg-1 ">

        <a id="opportunities"></a><h3>Join our team<span style="color: #A22A2A">.</span></h3>

        <div class="margin-top-10">
          <p class="font-family-secondary text-dark">If you are interested in conducting your postdoc, PhD or MSc project on our team, we can discuss the possibility of helping secure your own funding. Please review available funding schemes (list below) and send us a one-page summary of your research idea, along with your CV. If you don’t have a clear research idea, have a look at our publications, and book a meeting with us.
          </p>

          <br>
          <i class="fas fa-angle-double-right" style="margin-top: 10px"></i> <a href="https://www.fct.pt/en/" target="_blank">Fundação para a Ciência e a Tecnologia (FCT)</a>, which is the national public agency that supports research in science, technology and innovation in all areas of knowledge;
          <br>
                    <i class="fas fa-angle-double-right" style="margin-top: 10px"></i> <a href="https://erc.europa.eu/homepage" target="_blank">European Research Council (ERC)</a>, which is the premier European funding organisation for excellent frontier research. It funds creative researchers of any nationality and age, to run projects based across Europe;
                    <br>

          <i class="fas fa-angle-double-right" style="margin-top: 10px"></i> <a href="https://lacaixafoundation.org/en/" target="_blank">”la Caixa” Foundation</a>, which is committed to the present and future of people by focusing on those programmes with the greatest impact and capacity to transform.
          </p>

        </div>

			</div>
		</div>


		<div class="row" style="margin-top: 60px">
      <div class="col-12 col-lg-10 offset-lg-1">

          <div class="margin-left-30 margin-right-30 margin-bottom-20" style="margin-top: 15px;">
            <div>
              <ul class="list-inline-dash font-family-secondary">
                <i class="fas fa-angle-double-right"></i> <li>Featured projects</li>
              </ul>
            </div>
          </div>

        </div>
    </div>

    <div class="row col-lg-10 border-radius-05 bg-gray offset-lg-1 margin-bottom-30" style="padding-top: 15px; padding-bottom: 10px">

      {% assign postsMain = site.posts | where: "type", "project" %}
      {% assign posts = postsMain | where: "featured", "true" %}
      {% for post in posts limit: 4 %}

			<div class="bg-image col-lg-3 border-radius-05 margin-top-10 margin-left-10 margin-right-10" data-bg-src="{{ site.baseurl }}/assets/images/posts/{{ post.mainImage }}" style="height: 144px; background-position: center"></div>

			<div class="col-lg-8 padding-15 margin-top-5" style="min-height: 145px">
				<a href="{{site.baseurl}}{{ post.url }}"><h5>{{ post.title }}</h5></a>
				<p class="font-family-secondary text-dark" style="font-size: 15px;">{{ post.description }}</p>
			</div>

      {% endfor %}

    </div>


  </div>
</div>
